body {
  background-color: #0c0c0c;
}
#root {
  min-height: 100vh;
  gap: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProfileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  box-shadow: 2px 2px 2px #0c0c0c;
  background-color: #212121;
  color: #fafafa;
}
.btnContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
